@import url(./reset.css);

html, body{
    width: 100%;
    height: 100%;
}

#c {
    width: 100%;
    height: 100%;
    display: block;
}

#ui {
    min-width: 20%;
    position: absolute;
    top: 0;
    right: 0;
    background-color: aliceblue;
}